<div class="category-container">
  <div class="{{@categories.name}} container" style="color:red">
    <p>{{@categories.content.description}}</p>
    <div class="img-figcaption">
      <img class="" src="../assets/images/red.jpg" alt="">
      <figcaption>{{@categories.content.redfigcaption}}</figcaption>
    </div>
  </div>

  <div class="{{@categories.name}} container" style="color: green;">
    <div class="img-figcaption">
      <img class="" src="../assets/images/green.jpg" alt="">
      <figcaption>{{@categories.content.greenfigcaption}}</figcaption>
  </div>
    <p>{{@categories.content.description}}</p>
  </div>

  <div class="{{@categories.name}} container" style="color: yellow;">
    <p>{{@categories.content.description}}</p>
    <div class="img-figcaption">
      <img class="" src="../assets/images/yellow.jpg" alt="">
      <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
    </div>
  </div>

  <div class="{{@categories.name}} container" style="color: purple;">
    <div class="img-figcaption">
      <img class="" src="../assets/images/purple.jpg" alt="">
      <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
    </div>
    <p>{{@categories.content.description}}</p>
  </div>
</div>
