A category page!

<div class="category">
  {{#each-in @categories as |key value|}}
    <div class="{{category.name}}" style="color:red">
      <p>{{category}}</p>
      <p>{{key}}: {{value}}</p>
    </div>
  {{/each-in}}
</div>
{{log this.category}}
{{log this.categories}}
