<div class="category-container">
  <h2>What is <span class="capitalize">{{@categories.name}}</span>?</h2>
  <div class="{{@categories.name}} container-right" style="color:red">
    <div>
    <blockquote>{{@categories.content.description}}</blockquote>
    <blockquote>{{@categories.content.red-vision}}</blockquote>
    <figcaption>{{@categories.content.author}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="" src="../assets/images/red.jpg" alt="{{@categories.content.red-description}}">
      <figcaption>{{@categories.content.redfigcaption}}</figcaption>
    </div>
  </div>

  <div class="{{@categories.name}} container" style="color: green;">
    <div class="img-figcaption">
      <img alt="{{@categories.content.green-description}}" src="../assets/images/green.jpg">
      <figcaption >{{@categories.content.greenfigcaption}}</figcaption>
  </div>
    <blockquote>{{@categories.content.green-vision}}</blockquote>
  </div>

  <div class="{{@categories.name}} container-right" style="color: yellow;">
    <blockquote>{{@categories.content.yellow-vision}}</blockquote>
    <div class="img-figcaption">
      <img class="" src="../assets/images/yellow.jpg" alt="{{@categories.content.yellow-description}}">
      <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
    </div>
  </div>

  <div class="{{@categories.name}} container" style="color: purple;">
    <div class="img-figcaption">
      <img class="" src="../assets/images/purple.jpg" alt="{{@categories.content.purple-description}}">
      <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
    </div>
    <blockquote>{{@categories.content.purple-vision}}</blockquote>
  </div>

  <div class="{{@categories.name}} container-right" style="color: blue;">
    <p>{{@categories.content.blue-vision}}</p>
    <div class="img-figcaption">
      <img class="" src="../assets/images/blue.jpg" alt="{{@categories.content.blue-description}}">
      <figcaption>{{@categories.content.bluefigcaption}}</figcaption>
    </div>
  </div>

  <h2>Color recap with <span class="capitalize">{{@categories.name}}</span></h2>
  <div class="{{@categories.name}} images-container">
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/red.jpg" alt="{{@categories.content.red-description}}">
      <figcaption>{{@categories.content.redfigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/green.jpg" alt="{{@categories.content.green-description}}">
      <figcaption>{{@categories.content.greenfigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/yellow.jpg" alt="{{@categories.content.yellow-description}}">
      <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/purple.jpg" alt="{{@categories.content.purple-description}}">
      <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/blue.jpg" alt="{{@categories.content.blue-description}}">
      <figcaption>{{@categories.content.bluefigcaption}}</figcaption>
    </div>
  </div>

  <h2>Colors & Design</h2>
  <p>Emulating real life examples with colorblindness</p>

  <h3>Communicating message with colours</h3>
  <div class="container">
    <div class="{{@categories.name}}">
      <div class="sub-item"><span class="label">Name</span>
        <span class="input-style-valid">Jean</span>
      </div>
      <div class="sub-item"><span class="label">Email</span>
        <span class="input-style-invalid">jean@doe</span>
      </div>
      <div class="sub-item">Password <span class="input-style-invalid">
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        </span>
      </div>
  </div>
    <div class="smaller-width">
      <p>One common mistake is to assume colors can do the job for actions such as showing valid or invalid inputs.</p> <p>In most color
      blind types, the green and red outlines are either confused together, or not matching any code color reminding of a valid or invalid element (grey, yellows. etc.)</p>
      <p>Learn more: <a href="https://uxplanet.org/designing-ecommerce-for-colourblind-users-1ffd648c9f91#3-avoid-communicating-a-message-on-the-basis-of-colour" target="_blank" rel="noopener">Avoid communicating a message on the basis of colour</a></p>
    </div>
  </div>

  <h3 align="right">Color pickers</h3>
  <div class="container-right {{@categories.name}}">
    <div align="right">
      <p>TEXT</p>
    </div>
    <div align="right" >
      <img src="../assets/images/shirt-color.jpg" alt="Model wearing a white shirt with a black design of a light bulb">
      <p>Unisex t-shirt Lightbulb - 35 EUR</p>
      <p class="sub-item-right">Choose a color:</p>
      <span class="red-dot"></span>
      <span class="pink-dot"></span>
      <span class="yellow-dot"></span>
      <span class="blue-dot"></span>
      <span class="purple-dot"></span>
      <span class="green-dot"></span>
    </div>
  </div>

  <h3>Colors and graphics</h3>
  <div class="container {{@categories.name}}">
    <img class="larger-width" src="../assets/images/pie-chart.png" alt="Pie chart with the original question: How do you spend your leisure time? The answers in the chart are divided in 5 categories: TV, Books, Games, Other and Music. Each pie as a different color, that are only easy to distinguish without colorblindess. The colors are dark blue, lighter blue, orange and a lighter tone, the last one is grey.">
    <p>TEXT</p>
  </div>

  <Resources />
</div>
