<div class="header-table-contents {{@categories.name}}">
  <div class="table-contents" role="navigation" aria-labelledby="contents-heading">
    <h2 id="contents-heading">Contents</h2>
    <ul>
      <li> <a href="#definitions">Definitions</a></li>
      <li><a href="#color-recap">Color recap</a></li>
      <li><a href="#color-design">Color and design</a></li>
      <li><a href="#resources">Resources</a></li>
    </ul>
  </div>
</div>

<main class="{{@categories.name}}">
  <div class="category-container">
    <h2 id="definitions">What is <span class="capitalize">{{@categories.name}}</span>?</h2>
    <div class="container-right" style="color:red">
      <div>
      <blockquote>{{@categories.content.description}}</blockquote>
      <blockquote>{{@categories.content.red-vision}}</blockquote>
      <figcaption>{{@categories.content.author}}</figcaption>
      </div>
      <div class="img-figcaption">
        <img class="box-shadow" src="../assets/images/red.jpg" alt="{{@categories.content.red-description}}">
        <figcaption>{{@categories.content.redfigcaption}}</figcaption>
      </div>
    </div>

    <div class="container" style="color: green;">
      <div class="img-figcaption">
        <img  class="box-shadow" alt="{{@categories.content.green-description}}" src="../assets/images/green.jpg">
        <figcaption >{{@categories.content.greenfigcaption}}</figcaption>
    </div>
      <blockquote>{{@categories.content.green-vision}}</blockquote>
    </div>

    <div class="container-right" style="color: yellow;">
      <blockquote>{{@categories.content.yellow-vision}}</blockquote>
      <div class="img-figcaption">
        <img class="box-shadow" src="../assets/images/yellow.jpg" alt="{{@categories.content.yellow-description}}">
        <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
      </div>
    </div>

    <div class="container" style="color: purple;">
      <div class="img-figcaption">
        <img class="box-shadow" src="../assets/images/purple.jpg" alt="{{@categories.content.purple-description}}">
        <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
      </div>
      <blockquote>{{@categories.content.purple-vision}}</blockquote>
    </div>

    <div class="container-right" style="color: blue;">
      <p>{{@categories.content.blue-vision}}</p>
      <div class="img-figcaption">
        <img class="box-shadow" src="../assets/images/blue.jpg" alt="{{@categories.content.blue-description}}">
        <figcaption>{{@categories.content.bluefigcaption}}</figcaption>
      </div>
    </div>

    <h2 id="color-recap">Color recap with <span class="capitalize">{{@categories.name}}</span></h2>
    <div class="images-container">
      <div class="img-figcaption">
        <img class="image-size" src="../assets/images/red.jpg" alt="{{@categories.content.red-description}}">
        <figcaption>{{@categories.content.redfigcaption}}</figcaption>
      </div>
      <div class="img-figcaption">
        <img class="image-size" src="../assets/images/green.jpg" alt="{{@categories.content.green-description}}">
        <figcaption>{{@categories.content.greenfigcaption}}</figcaption>
      </div>
      <div class="img-figcaption">
        <img class="image-size" src="../assets/images/yellow.jpg" alt="{{@categories.content.yellow-description}}">
        <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
      </div>
      <div class="img-figcaption">
        <img class="image-size" src="../assets/images/purple.jpg" alt="{{@categories.content.purple-description}}">
        <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
      </div>
      <div class="img-figcaption">
        <img class="image-size" src="../assets/images/blue.jpg" alt="{{@categories.content.blue-description}}">
        <figcaption>{{@categories.content.bluefigcaption}}</figcaption>
      </div>
    </div>

    <h2 id="color-design">Colors & Design</h2>
    <p>Emulating real life examples with colorblindness</p>

    <h3>Communicating message with colours</h3>
    <div class="container">
      <div class="box-shadow larger-padding">
        <div class="sub-item"><span class="label">Name</span>
          <span class="input-style-valid">Jean</span>
        </div>
        <div class="sub-item"><span class="label">Email</span>
          <span class="input-style-invalid">jean@doe</span>
        </div>
        <div class="sub-item">Password <span class="input-style-invalid">
          <span class="black-dot"></span>
          <span class="black-dot"></span>
          <span class="black-dot"></span>
          <span class="black-dot"></span>
          <span class="black-dot"></span>
          <span class="black-dot"></span>
          <span class="black-dot"></span>
          </span>
        </div>
    </div>
      <div class="smaller-width">
        <p>One common mistake is to assume colors can do the job for actions such as showing valid or invalid inputs.</p> <p>In most color
        blind types, the green and red outlines are either confused together, or not matching any code color reminding of a valid or invalid element (grey, yellows. etc.)</p>
        <p>Learn more: <a href="https://uxplanet.org/designing-ecommerce-for-colourblind-users-1ffd648c9f91#3-avoid-communicating-a-message-on-the-basis-of-colour" target="_blank" rel="noopener">Avoid communicating a message on the basis of colour</a></p>
      </div>
    </div>

    <h3>Links and colors</h3>
    <div class="container-right">
      <div align="left">
        <p>Using color to only differenciate a link from the text is inaccessible for colorblind users.</p>
        <p>In the following example, the chapter 1 and last paragraph are links, without underline. It's difficult, if not impossible to see the difference between the text and the links available.</p>
        <p>Learn more: <a href="https://axesslab.com/colorblind-accessibility-web-fail-success-cases/" target="_blank"
            rel="noopener">Render links accessible</a></p>
      </div>
      <div align="justify" class="italic box-shadow">
        <p><a href="" class="no-underline">Chapter 1</a></p>
        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport,
        etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most
        common words.</p>
        <p>See <a href="" class="no-underline">European languages</a></p>
      </div>
    </div>

    <h3>Color contrast</h3>
    <div class="container">
      <div class="low-color-contrast box-shadow">
        <div class="sub-item background-image" align="center">
          Portfolio
        </div>
        <div class="sub-item" alt="The following text has a very light yellow background and a bisque, light orange-corail text. The text is unreadable in most colorblindness types"><p>Welcome to my portfolio!</p>
        <p>I'm a content creator and translator from English to German and German to English.</p>
        </div>
      </div>
      <div class="smaller-width">
        <p>Color contrast is sometimes set aside, in favor of a subtle color theme. If the background and text colors have a low contrast, they are illegible.</p>
        <p>In this example, deuteranopian and protanopian users are the most affected with this choice of colors. They might not even see there is content on the page.</p>
        <p>Learn more: <a
            href="https://axesslab.com/top-color-contrast-checkers/"
            target="_blank" rel="noopener">Top color contrast checkers</a></p>
      </div>
    </div>

    <h3>Color pickers</h3>
    <div class="container-right">
      <div align="left">
        <p>Color pickers sometimes use the original color as caption. This type of selection is only accessible for non colorblind users. Users with protanopia, deuternopia, tritanopia and achromatopsia are unable to identify the original colors shown. </p>
        <p>With protanopia and deuteranopia, reds, greens, yellows, purple are impossible to identify. Tritan users will confuse pinks, yellows, purple, also, greens and blues are altered and difficult to identify.</p>
        <p>Learn more: <a href="https://uxplanet.org/designing-ecommerce-for-colourblind-users-1ffd648c9f91" target="_blank" rel="noopener">Designing eCommerce for colorblind users</a></p>
      </div>
      <div align="right" class="box-shadow larger-padding" >
        <img class="color-picker-img" src="../assets/images/shirt-color.jpg" alt="Model wearing a white shirt with a black design of a light bulb">
        <p>Unisex t-shirt Lightbulb - 35 EUR</p>
        <p class="sub-item-right">Choose a color:</p>
        <p>
          <span class="red-dot"></span>
          <span class="pink-dot"></span>
          <span class="yellow-dot"></span>
          <span class="blue-dot"></span>
          <span class="purple-dot"></span>
          <span class="green-dot"></span>
        </p>
      </div>
    </div>

    <h3>Pie charts and infographics</h3>
    <div class="container">
      <img class="larger-width box-shadow" src="../assets/images/pie-chart.png" alt="Pie chart with the original question: How do you spend your leisure time? The answers in the chart are divided in 5 categories: TV, Books, Games, Other and Music. Each pie as a different color, that are only easy to distinguish without colorblindess. The colors are dark blue, lighter blue, orange and a lighter tone, the last one is grey.">
      <div align="left">
        <p>Pie charts and graphics are also easily inaccessible, due to the colors, again, being the only source of information. Different tones of blue and yellow will be seen as very similar with protanopia, deuteranopia, tritanopia. Achromatopsia can even show colors in the same shade of grey, which makes the pie chart impossible to read.</p>
        <p>Learn more: <a href="https://axesslab.com/colorblind-accessibility-web-fail-success-cases/" target="_blank"
            rel="noopener">How to render diagrams and infographics accessible</a></p>
      </div>
    </div>

    <Resources />

  </div>
  <Footer />
</main>
