<div class="category-container">
  <div class="{{@categories.name}} container" style="color:red">
    <p>{{@categories.content.description}}</p>
    <div class="img-figcaption">
      <img class="" src="../assets/images/red.jpg" alt="{{@categories.content.red-description}}">
      <figcaption>{{@categories.content.redfigcaption}}</figcaption>
    </div>
  </div>

  <div class="{{@categories.name}} container" style="color: green;">
    <div class="img-figcaption">
      <img alt="{{@categories.content.green-description}}" src="../assets/images/green.jpg">
      <figcaption >{{@categories.content.greenfigcaption}}</figcaption>
  </div>
    <p>{{@categories.content.description}}</p>
  </div>

  <div class="{{@categories.name}} container" style="color: yellow;">
    <p>{{@categories.content.description}}</p>
    <div class="img-figcaption">
      <img class="" src="../assets/images/yellow.jpg" alt="{{@categories.content.yellow-description}}">
      <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
    </div>
  </div>

  <div class="{{@categories.name}} container" style="color: purple;">
    <div class="img-figcaption">
      <img class="" src="../assets/images/purple.jpg" alt="{{@categories.content.purple-description}}">
      <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
    </div>
    <p>{{@categories.content.description}}</p>
  </div>

  <div class="{{@categories.name}} container" style="color: blue;">
    <p>{{@categories.content.description}}</p>
    <div class="img-figcaption">
      <img class="" src="../assets/images/blue.jpg" alt="{{@categories.content.blue-description}}">
      <figcaption>{{@categories.content.bluefigcaption}}</figcaption>
    </div>
  </div>

  <h2>Color recap with <span class="capitalize">{{@categories.name}}</span></h2>
  <div class="{{@categories.name}} images-container">
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/red.jpg" alt="{{@categories.content.red-description}}">
      <figcaption>{{@categories.content.redfigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/green.jpg" alt="{{@categories.content.green-description}}">
      <figcaption>{{@categories.content.greenfigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/yellow.jpg" alt="{{@categories.content.yellow-description}}">
      <figcaption>{{@categories.content.yellowfigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/purple.jpg" alt="{{@categories.content.purple-description}}">
      <figcaption>{{@categories.content.purplefigcaption}}</figcaption>
    </div>
    <div class="img-figcaption">
      <img class="image-size" src="../assets/images/blue.jpg" alt="{{@categories.content.blue-description}}">
      <figcaption>{{@categories.content.bluefigcaption}}</figcaption>
    </div>
  </div>

  <h2>Colors & Design</h2>
  <p><span class="visually-hidden">Subtitle:</span> Emulating real life examples with colorblindness</p>

  <div class="container">
    <div class="margin-top {{@categories.name}}">
      <div class="sub-item"><span class="label">Name</span>
        <span class="input-style-valid">Jean</span>
      </div>
      <div class="sub-item"><span class="label">Email</span>
        <span class="input-style-invalid">jean@doe</span>
      </div>
      <div class="sub-item">Password <span class="input-style-invalid">
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        <span class="black-dot"></span>
        </span>
      </div>
  </div>
    <div class="class">
      <p>TEXT</p>
    </div>
  </div>

  <div class="container-right {{@categories.name}}">
    <div align="right">
      <p>TEXT</p>
    </div>
    <div align="right" >
      <img src="../assets/images/shirt-color.jpg" alt="Model wearing a white shirt with a black design of a light bulb">
      <div class="sub-item-right">Unisex t-shirt Lightbulb - 35 EUR</div>
      <div class="sub-item-right">Choose a color:</div>
      <span class="red-dot"></span>
      <span class="pink-dot"></span>
      <span class="yellow-dot"></span> <span class="blue-dot"></span>
      <span class="green-dot"></span>
    </div>
  </div>

  <div class="container {{@categories.name}}">
    <img src="../assets/images/pie-chart.png" alt="Pie chard divided in 6 portions, each portion has a specific color, but nothing written inside, therefore very difficult to associate the caption and the pie colors">
    <p>TEXT</p>
  </div>

  <Resources />
</div>
